body
{
    padding:10px;
    font-family:Arial;
}
p ,span{
    font-size:15px;
    color: #595959;
}
#main {
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
    text-align:center;
    background-color:#e6e6e6;
    border-radius:8px;
}
#img-div {
    margin: 10px;
    text-align: center;
    background-color:white;
}
#div-block {
    text-align: justify;
    margin:0px 310px 0px 310px;
    font-size:15px;
}